html {
    height: 100%;
}

body {
    /* font-family: sans-serif, helvetica; */
    margin: 0px;
    color: #fafbfc;
    background: #282a2d;
    font-family: 'Azeret Mono';
    font-weight: 200;
    height: 100%;
    margin: 0;
    background-color: #282a2d;
}

#root {
    height: 100%;
}